html, body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #183f6f;
    color: #b8b8b8;
}

nav {
    display: flex;
    align-items: stretch;
    min-height: 3rem;
    text-align: center;
    z-index: 5;
}

.nav-left, .nav-right {
    display: flex;
    overflow-x: auto;
    align-items: stretch;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

nav a {
    color: #cccccc;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.1rem;
    padding: .65rem .8rem;
    text-decoration: none;
}

nav a:hover {
    color: #ffffff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

section {
    padding: 3.5rem 2rem;
}

.container {
    max-width: 1200px;
    margin : 0 auto;
}

.centered {
    text-align: center;
}

.type-2 {
    background-color: #1e2f52;
}

.link-1 {
    color: azure;
    text-decoration: none;
}

.link-1:hover {
    color: rgb(181, 212, 212);
    text-decoration: underline;
}

.link-1:active {
    color: rgb(146, 187, 187);
}

.login-area {
    padding: 3.5rem 3rem 6rem 3rem;
    background: #182644;
    box-shadow: 0 0 2px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28);
    max-width: 500px;
}

#loginForm input, #signupForm input {
    margin: .5rem 0;
    border-radius: 4px;
}

.fancyButton-1 {
    background: #396fe4;
    border-radius: 2px;
    padding: 12px 36px;
    color: white;
    text-decoration: none;
}

.fancyButton-1:hover {
    background: #466dc0;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.fancyButton-1:active {
    background: #123862;
}

.fancyButton-2 {
    background: white;
    border-radius: 2px;
    padding: 12px 36px;
    color: #182644;
    text-decoration: none;
}

.fancyButton-2:hover {
    background: #7988a8;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.fancyButton-2:active {
    background: #5d738a;
}

.form-warning {
    font-size: .6rem;
    color: red;
}

.warning {
    background: rgba(0,0,0,.58);
    color: red;
}

.account-box {
    float: none;
    padding-top: 25px;
    padding-bottom: 170px;
    background: rgb(59, 92, 103);
    margin-top: 20px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.account-info {
    width: 50%;
    float: left;
}

.account-balance {
    width: 50%;
    float: right;
}

.account-open {
    color: rgb(12, 173, 12);
}

.account-shut {
    color: red;
}

.transaction-button {
    background:rgb(181, 212, 212);
    padding: 6px;
    margin-bottom: 25px;
    color:rgba(0,0,0);
    text-decoration: none;
}

.transaction-button:hover {
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    background: rgb(90, 143, 143);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.parallaxBG-large {
    /* Makes a parallax image background (Large) */
    min-height: 40vh; 
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5vh 5vw;
    /* Specify the background image in HTML using the style attribute */
}

.parallaxBG-small {
    /* Makes a parallax image background (Small) */
    min-height: 200px; 
    background-attachment: fixed;
    background-position: 0% 83%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5vh 5vw;
    /* Specify the background image in HTML using the style attribute */
}

.parallaxText1 {
    /* Positions the parallaxText to be on top of the parallaxBG div */
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-45%, -65%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.parallaxText1 h1 {
    /* Header1 Text for parallaxText */
    color: white;
    font-size: 3em;
}

.parallaxText1 h2, .parallaxText2 h2 {
    color: white;
    font-size: 2em;
}

.parallaxText2 {
    /* Positions the parallaxText to be on top of the parallaxBG div */
    position: absolute;
    top: 620px;
    left: 700px;
    transform: translate(-1100px, -435px);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.viewAccountButton {
    margin-top: 50px;
}